header,
main,
footer {
  display: grid;
  grid-template-columns: 1fr min(calc(100% - 2 * #{$side-padding-m}), 100%) 1fr;
  > * {
    grid-column: 2;
    width: 100%;
    max-width: $max-width-container;
    margin-inline: auto;
  }
}
section {
  padding-top: $section-tb-m;
  padding-bottom: $section-tb-m;
  @media (width > $breakpoint-m) {
    padding-top: $section-tb;
    padding-bottom: $section-tb;
  }
  &.full-bleed {
    grid-column: 1 / -1;
    max-width: none;
  }
}