// Typography
$font-roboto: 'Roboto', sans-serif;
//$font-sofia: 'Sofia Sans Condensed', sans-serif;
$font-family: #{$font-roboto};

// Breakpoints
$breakpoint-m: 768px;
$breakpoint-t: 1024px;


// Layouts
$max-width-container: 1360px;
$side-padding-m: 28px;
$side-padding: $side-padding-m;
$section-tb-m: 40px;


// Header heights
$header-height-m: 84px;
$header-height: $header-height-m;


// Colours
$black: #000000;
$white: #ffffff;
$blue: #1A2A57;
$light-blue: #9CADCB;


// Background Colours
$bg-white: $white;
$bg-blue: $blue;


// Round borders
$rounded-radius: 4px;

